---
import AppLayout from "../../layouts/AppLayout.astro";
import AdminRecapsView from "../../components/AdminRecapsView.svelte";
import AdminNav from "../../components/AdminNav.svelte";
---

<AppLayout title="Admin Recaps" noindex={true}>
  <div class="space-y-6">
    <AdminNav currentPath="/admin/recaps" />
    <AdminRecapsView client:load />
  </div>
</AppLayout>
