---
import AppLayout from "../layouts/AppLayout.astro";
import DashboardView from "../components/DashboardView.svelte";
---

<AppLayout title="Dashboard">
  <div class="space-y-6">
    <DashboardView client:load />
  </div>
</AppLayout>
